<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <div class="w-full bg-zinc-900 min-h-screen p-10 text-white">
    <h3 class="text-3xl mb-5">Login To Your Account</h3>
    <form action="/login" method="post">
        <input class="px-3 py-2 outline-none bg-transparent rounded-md border-zinc-800 border-2 " type="email" placeholder="email" name="email">
        <input class="px-3 py-2 outline-none bg-transparent rounded-md border-zinc-800 border-2 " type="password" placeholder="password" name="password">
        <input class="px-3 py-2 outline-none bg-blue-500 rounded-md border-zinc-800 border-2 " type="submit" value="Login to Account">


    </form>
  </div>
</body>
</html>